// ретинизация
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// главная сетка
$s-min: 320px;
$s-max: 767.9px;
$m-min: 768px; //tablet *
$m-max: 1169.9px;
$l-min: 1170px; //1280px //desktop *

$s-padding: 20px;
$m-padding: 30px;
$l-padding: 130px;

$s-content: ($s-min - 2 * $s-padding);
$m-content: ($m-min - 2 * $m-padding);
$l-content: ($l-min - 2 * $l-padding);
